.landing{
    position: relative;

    overflow: hidden;
    height: 1000px;
    
    .mainContent{
        background-image: url("../images/photo-1594704696535-7888feb55d05\ \(1\).png"); //can use image in mainContent too if we need to move picture around
        width: 100%;
        height: 700px;
        background-size: cover;
        position: fixed;
      
        .mainHeadline{
            position: relative;
            z-index: 1;
            h1{
               
                font-family: "bold";
                color: $primaryColor;
                letter-spacing: 1px;
                font-size: 25px;
            }
        }

        
    }
    .mainContent::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 700px;
        background: black;
        opacity: 0.5;

    }



}