.landing{
    position: relative;
    overflow: hidden;
    height: 700px;
    .mainContent{
        background-image: url("../images/photo-1594704696535-7888feb55d05\ \(1\).png"); //can use image in mainContent too if we need to move picture around
        width: 100%;
        height: 700px;
        background-size: cover;
        position: fixed;
      
        .mainHeadline{
            height: 520px;
            position: relative;
            z-index: 1;
            color: $primaryColor;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1{ 
                letter-spacing: 1px;
                font-size: 35px;
                max-width: 400px;
                
            }
            p{
                padding: 20px 0px;
                font-size: 16px;
            }
            .greenButton{
                width: fit-content;
                height: fit-content;
                font-size: 16px;
                padding: 6px 15px;
                background-color: $secondaryColor;
                border: 3px solid $secondaryColor;
                border-radius: 25px;
                color: $primaryColor;
                transition: 0.3s ease-in-out;
                cursor: pointer;
                margin-right: 8px
            }
            .whiteButton{
                @extend .greenButton;
                background-color: $primaryColor;
                color: black;
                border: 3px solid $primaryColor;
                margin-left: 8px;
            }
        }

        
    }
    .mainContent::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 700px;
        background: black;
        opacity: 0.6;

    }



}