.services{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    
    .listOfServices{
        position: relative;
       
        .service{
            max-width: 2000px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 50px;
            img{
                height: 400px;
                width: 100%;
                object-fit:  cover;
            }
            
            .serviceDescription{
                padding-top: 50px;
               display: flex;
               flex-direction: column;
               align-items: center;
            

               b{
                font-size: 30px;
                font-family: "Bold";
               }
               p{
                width: 90%;
                border-left: 3px solid $secondaryColor;
                padding-left: 7px;
                margin-top: 15px;
                margin-bottom: 25px;
               }
            }
        }
    }
    
}

@media(min-width:1000px){
    .services{
        max-width: 1900px;
        .listOfServices{
            .service{
                flex-direction: row;
                padding-bottom: 0;

                img{
                    width: 50%;
                    height: 500px;
                }
                .serviceDescription{
                    width: 50%;
                    padding: 0;
                 
                    p{
                        max-width: 700px;
                    }
                }
            }
            .rightSide{ //move ice cream picture to other side
                img{
                    order: 2;
                }
            }
        }
    }


}

@media(min-width: 1700px){
    .services{

        .listOfServices{
            .service{

                .serviceDescription{
                    b{
                        font-size: 40px;
                    }


                }
            }

        }
    }



}