@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "bold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Paytone";
  font-style: normal;
  src: url(../fonts/Paytone_One/PaytoneOne-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.landing {
  position: relative;
  overflow: hidden;
  height: 1000px;
}
.landing .mainContent {
  background-image: url("../images/photo-1594704696535-7888feb55d05 (1).png");
  width: 100%;
  height: 700px;
  background-size: cover;
  position: fixed;
}
.landing .mainContent .mainHeadline {
  position: relative;
  z-index: 1;
}
.landing .mainContent .mainHeadline h1 {
  font-family: "bold";
  color: #FAFAFA;
  letter-spacing: 1px;
  font-size: 25px;
}
.landing .mainContent::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background: black;
  opacity: 0.5;
}

.mainContent .navigationBar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 125px;
  background-color: #FAFAFA;
  z-index: 2;
  overflow: visible;
}
.mainContent .navigationBar img {
  width: 100px;
  height: 100px;
  padding-left: 40px;
}
.mainContent .navigationBar #menu {
  background-color: #366e41;
  position: absolute;
  top: 125px;
  width: 100%;
  height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
  overflow: hidden;
  z-index: 2;
}
.mainContent .navigationBar #menu ul {
  list-style: none;
  width: 100%;
}
.mainContent .navigationBar #menu ul li {
  height: 75px;
  border-bottom: 1px solid #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContent .navigationBar #menu ul li .fa {
  padding-right: 5px;
  width: 25px;
  text-align: center;
}
.mainContent .navigationBar #menu ul li .fa-mobile {
  font-size: 30px;
}
.mainContent .navigationBar #menu ul li .fa-users {
  font-size: 20px;
}
.mainContent .navigationBar #menu ul li a {
  width: 155px;
  text-decoration: none;
  color: #FAFAFA;
  font-size: 25px;
}
.mainContent .navigationBar #menu ul li:hover {
  background-color: #FAFAFA;
}
.mainContent .navigationBar #menu ul li:hover a {
  color: #366e41;
}
.mainContent .navigationBar .hamburgerMenu {
  position: absolute;
  top: 50px;
  right: 50px;
}
.mainContent .navigationBar .hamburgerMenu input {
  width: 70px;
  height: 50px;
  opacity: 0%;
  position: absolute;
  top: -10px;
  left: -15px;
}
.mainContent .navigationBar .hamburgerMenu span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #47a35a;
  transition: 0.3s ease-in;
}
.mainContent .navigationBar .hamburgerMenu span:nth-child(2) {
  transform-origin: 0% 0%;
}
.mainContent .navigationBar .hamburgerMenu span:last-child {
  transform-origin: 0% 100%;
}
.mainContent .navigationBar .hamburgerMenu input:checked ~ span {
  transform: rotate(45deg) translate(0px, 0px);
  background-color: #47a35a;
}
.mainContent .navigationBar .hamburgerMenu input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.mainContent .navigationBar .hamburgerMenu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-5px, 4px);
}

@-webkit-keyframes mobile-open-menu {
  to {
    height: 100vh;
  }
}

@keyframes mobile-open-menu {
  to {
    height: 100vh;
  }
}
@-webkit-keyframes mobile-close-menu {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}
@keyframes mobile-close-menu {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}/*# sourceMappingURL=style.css.map */