@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "bold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "Thin";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
  font-family: "Paytone";
  font-style: normal;
  src: url(../fonts/Paytone_One/PaytoneOne-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  background-color: #fafafa;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.greenButton, .whiteButton {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 16px;
  padding: 6px 15px;
  background-color: #4ca25e;
  border: 3px solid #4ca25e;
  border-radius: 25px;
  color: #fafafa;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.whiteButton {
  background-color: transparent;
  color: #fafafa;
  border: 3px solid #fafafa;
  margin-left: 16px;
}

.titleOfDiv {
  padding-bottom: 50px;
  background-color: #fafafa;
  text-align: center;
}
.titleOfDiv :first-child {
  color: #4ca25e;
}
.titleOfDiv b {
  font-family: "bold";
  font-size: 35px;
}

.titleOfDiv::after {
  display: block;
  content: "";
  border-bottom: 5px solid #4ca25e;
  transform: scaleX(0.3);
  padding-bottom: 3px;
  margin-bottom: 20px;
}

@media (min-width: 1000px) {
  .greenButton, .whiteButton {
    font-size: 18px;
  }
  .titleOfDiv b {
    font-size: 45px;
  }
}
@media (min-width: 1700px) {
  p {
    font-size: 18px;
  }
}
.landing {
  position: relative;
  overflow: hidden;
  height: 700px;
}
.landing .mainContent {
  background-image: url("../images/photo-1594704696535-7888feb55d05 (1).png");
  width: 100%;
  height: 700px;
  background-size: cover;
  background-attachment: fixed !important;
}
.landing .mainContent .mainHeadline {
  height: 520px;
  position: relative;
  z-index: 1;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.landing .mainContent .mainHeadline h1 {
  letter-spacing: 1px;
  font-size: 40px;
  max-width: 800px;
  font-family: "bold";
}
.landing .mainContent .mainHeadline p {
  padding: 20px 0px;
}
.landing .mainContent::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background: black;
  opacity: 0.6;
}

@media (min-width: 800px) {
  .landing .mainContent .mainHeadline h1 {
    font-size: 60px;
  }
}
.mainContent .navigationBar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 125px;
  background-color: rgba(255, 255, 255, 0.185);
  z-index: 2;
}
.mainContent .navigationBar img {
  width: auto;
  height: 100px;
  padding-left: 40px;
}
.mainContent .navigationBar #menu {
  background-color: #4ca25e;
  position: absolute;
  top: 125px;
  width: 100%;
  height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
  overflow: hidden;
}
.mainContent .navigationBar #menu ul {
  list-style: none;
  width: 100%;
}
.mainContent .navigationBar #menu ul li {
  height: 75px;
  border-bottom: 1px solid #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContent .navigationBar #menu ul li .fa {
  padding-right: 5px;
  width: 25px;
  text-align: center;
}
.mainContent .navigationBar #menu ul li .fa-mobile {
  font-size: 30px;
}
.mainContent .navigationBar #menu ul li .fa-users {
  font-size: 20px;
}
.mainContent .navigationBar #menu ul li a {
  width: 155px;
  text-decoration: none;
  color: #fafafa;
  font-size: 25px;
}
.mainContent .navigationBar #menu ul li:hover {
  background-color: #fafafa;
}
.mainContent .navigationBar #menu ul li:hover a {
  color: #4ca25e;
}
.mainContent .navigationBar .hamburgerMenu {
  position: absolute;
  top: 50px;
  right: 50px;
}
.mainContent .navigationBar .hamburgerMenu input {
  width: 70px;
  height: 50px;
  opacity: 0%;
  position: absolute;
  top: -10px;
  left: -15px;
}
.mainContent .navigationBar .hamburgerMenu span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #4ca25e;
  transition: 0.3s ease-in;
}
.mainContent .navigationBar .hamburgerMenu span:nth-child(2) {
  transform-origin: 0% 0%;
}
.mainContent .navigationBar .hamburgerMenu span:last-child {
  transform-origin: 0% 100%;
}
.mainContent .navigationBar .hamburgerMenu input:checked ~ span {
  transform: rotate(45deg) translate(0px, 0px);
  background-color: #4ca25e;
}
.mainContent .navigationBar .hamburgerMenu input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.mainContent .navigationBar .hamburgerMenu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-5px, 4px);
}

@-webkit-keyframes mobile-open-menu {
  to {
    height: 100vh;
  }
}

@keyframes mobile-open-menu {
  to {
    height: 100vh;
  }
}
@-webkit-keyframes mobile-close-menu {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}
@keyframes mobile-close-menu {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}
@media (min-width: 1000px) {
  .mainContent .navigationBar #menu {
    background-color: transparent;
    flex-direction: row;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    top: 0;
    overflow: visible;
    -webkit-animation: none !important;
            animation: none !important;
  }
  .mainContent .navigationBar #menu ul {
    display: flex;
  }
  .mainContent .navigationBar #menu ul li {
    border-bottom: none;
  }
  .mainContent .navigationBar #menu ul li .fa {
    display: none;
  }
  .mainContent .navigationBar #menu ul li a {
    text-align: center;
  }
  .mainContent .navigationBar .hamburgerMenu {
    display: none;
  }
}
.socialMedia {
  display: flex;
  padding-top: 25px;
}
.socialMedia .fa {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #fafafa;
  transition: 0.3s ease-in-out;
  margin: 10px;
}
.socialMedia .fa:first-child {
  background-color: #3B5998;
  border: 3px solid #3B5998;
}
.socialMedia .fa:first-child:hover {
  color: #3B5998;
}
.socialMedia .fa:nth-child(2) {
  background-color: #55ACEE;
  border: 3px solid #55ACEE;
}
.socialMedia .fa:nth-child(2):hover {
  color: #55ACEE;
}
.socialMedia .fa:nth-child(3) {
  background-color: rgb(209, 31, 129);
  border: 3px solid rgb(209, 31, 129);
}
.socialMedia .fa:nth-child(3):hover {
  color: rgb(209, 31, 129);
}
.socialMedia .fa:hover {
  background-color: #fafafa;
}

@media (min-width: 1000px) {
  .socialMedia {
    padding-top: 0px;
  }
}
.services {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.services .listOfServices {
  position: relative;
}
.services .listOfServices .service {
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.services .listOfServices .service img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services .listOfServices .service .serviceDescription {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .listOfServices .service .serviceDescription b {
  font-size: 30px;
  font-family: "Bold";
}
.services .listOfServices .service .serviceDescription p {
  width: 90%;
  border-left: 3px solid #4ca25e;
  padding-left: 7px;
  margin-top: 15px;
  margin-bottom: 25px;
}

@media (min-width: 1000px) {
  .services {
    max-width: 1900px;
  }
  .services .listOfServices .service {
    flex-direction: row;
    padding-bottom: 0;
  }
  .services .listOfServices .service img {
    width: 50%;
    height: 500px;
  }
  .services .listOfServices .service .serviceDescription {
    width: 50%;
    padding: 0;
  }
  .services .listOfServices .service .serviceDescription p {
    max-width: 700px;
  }
  .services .listOfServices .rightSide img {
    order: 2;
  }
}
@media (min-width: 1700px) {
  .services .listOfServices .service .serviceDescription b {
    font-size: 40px;
  }
}
.aboutUs {
  padding-top: 75px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutUs img {
  width: min(80%, 400px);
  height: auto;
}
.aboutUs p {
  margin-top: 40px;
  max-width: 700px;
  border-left: 3px solid #4ca25e;
  padding-left: 7px;
}

@media (min-width: 1000px) {
  .aboutUs img {
    width: 500px;
  }
}
.testimonials {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.testimonials .person {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin-bottom: 50px;
  margin: 20px 15px;
}
.testimonials .person img {
  width: 125px;
  height: auto;
  padding: 7px 0px;
}
.testimonials .person p {
  text-align: center;
}/*# sourceMappingURL=style.css.map */