@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "bold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "Thin";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
  font-family: "Paytone";
  font-style: normal;
  src: url(../fonts/Paytone_One/PaytoneOne-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  background-color: #fafafa;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.greenButton, .whiteButton {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 16px;
  padding: 6px 15px;
  background-color: #366e41;
  border: 3px solid #366e41;
  border-radius: 25px;
  color: #fafafa;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-right: 8px;
}

.whiteButton {
  background-color: #fafafa;
  color: black;
  border: 3px solid #fafafa;
  margin-left: 8px;
}

.landing {
  position: relative;
  overflow: hidden;
  height: 700px;
}
.landing .mainContent {
  background-image: url("../images/photo-1594704696535-7888feb55d05 (1).png");
  width: 100%;
  height: 700px;
  background-size: cover;
  background-attachment: fixed !important;
}
.landing .mainContent .mainHeadline {
  height: 520px;
  position: relative;
  z-index: 1;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.landing .mainContent .mainHeadline h1 {
  letter-spacing: 1px;
  font-size: 35px;
  max-width: 400px;
  font-family: "bold";
}
.landing .mainContent .mainHeadline p {
  padding: 20px 0px;
  font-size: 16px;
}
.landing .mainContent::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background: black;
  opacity: 0.6;
}

.mainContent .navigationBar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 125px;
  background-color: rgba(255, 255, 255, 0.753);
  z-index: 2;
  overflow: visible;
}
.mainContent .navigationBar img {
  width: auto;
  height: 100px;
  padding-left: 40px;
}
.mainContent .navigationBar #menu {
  background-color: #366e41;
  position: absolute;
  top: 125px;
  width: 100%;
  height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
  overflow: hidden;
  z-index: 2;
}
.mainContent .navigationBar #menu ul {
  list-style: none;
  width: 100%;
}
.mainContent .navigationBar #menu ul li {
  height: 75px;
  border-bottom: 1px solid #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContent .navigationBar #menu ul li .fa {
  padding-right: 5px;
  width: 25px;
  text-align: center;
}
.mainContent .navigationBar #menu ul li .fa-mobile {
  font-size: 30px;
}
.mainContent .navigationBar #menu ul li .fa-users {
  font-size: 20px;
}
.mainContent .navigationBar #menu ul li a {
  width: 155px;
  text-decoration: none;
  color: #fafafa;
  font-size: 25px;
}
.mainContent .navigationBar #menu ul li:hover {
  background-color: #fafafa;
}
.mainContent .navigationBar #menu ul li:hover a {
  color: #366e41;
}
.mainContent .navigationBar .hamburgerMenu {
  position: absolute;
  top: 50px;
  right: 50px;
}
.mainContent .navigationBar .hamburgerMenu input {
  width: 70px;
  height: 50px;
  opacity: 0%;
  position: absolute;
  top: -10px;
  left: -15px;
}
.mainContent .navigationBar .hamburgerMenu span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #366e41;
  transition: 0.3s ease-in;
}
.mainContent .navigationBar .hamburgerMenu span:nth-child(2) {
  transform-origin: 0% 0%;
}
.mainContent .navigationBar .hamburgerMenu span:last-child {
  transform-origin: 0% 100%;
}
.mainContent .navigationBar .hamburgerMenu input:checked ~ span {
  transform: rotate(45deg) translate(0px, 0px);
  background-color: #2e9179;
}
.mainContent .navigationBar .hamburgerMenu input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.mainContent .navigationBar .hamburgerMenu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-5px, 4px);
}

@-webkit-keyframes mobile-open-menu {
  to {
    height: 100vh;
  }
}

@keyframes mobile-open-menu {
  to {
    height: 100vh;
  }
}
@-webkit-keyframes mobile-close-menu {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}
@keyframes mobile-close-menu {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}
.socialMedia {
  display: flex;
  padding-top: 25px;
}
.socialMedia .fa {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #fafafa;
  transition: 0.3s ease-in-out;
  margin: 10px;
}
.socialMedia .fa:first-child {
  background-color: #3B5998;
  border: 2px solid #3B5998;
}
.socialMedia .fa:first-child:hover {
  color: #3B5998;
}
.socialMedia .fa:nth-child(2) {
  background-color: #55ACEE;
  border: 2px solid #55ACEE;
}
.socialMedia .fa:nth-child(2):hover {
  color: #55ACEE;
}
.socialMedia .fa:nth-child(3) {
  background-color: rgb(209, 31, 129);
  border: 2px solid rgb(209, 31, 129);
}
.socialMedia .fa:nth-child(3):hover {
  color: rgb(209, 31, 129);
}
.socialMedia .fa:hover {
  background-color: #fafafa;
}

.services {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.services b {
  font-size: 45px;
  color: #366e41;
  font-family: "bold";
  text-align: center;
}
.services .listOfServices {
  padding-top: 50px;
}
.services .listOfServices .service {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  padding-left: 30px;
  width: 100%;
}
.services .listOfServices .service .serviceImage {
  height: 400px;
}
.services .listOfServices .service .serviceImage img {
  border-radius: 50%;
  height: 400px;
  width: auto;
  background-size: cover;
  position: relative;
}
.services .listOfServices .service .serviceImage::after {
  display: block;
  content: "";
  width: 700px;
  height: 300px;
  background-color: #366e41;
  position: relative;
  z-index: -1;
  transform: translate(-30px, -360px);
}
.services .listOfServices .service .serviceInformation {
  margin-left: auto;
}
.services .listOfServices .service .serviceInformation p {
  width: 500px;
}

.pricing {
  width: 100%;
  height: 600px;
}/*# sourceMappingURL=style.css.map */