//-------------------------------COLORS---------------------------------
$primaryColor: #fafafa;
$primaryDark:  #FAFAFA;
$primaryLight: #FAFAFA;

$secondaryColor: #4ca25e;
$secondaryColorDark: #2e9179;
$secondaryColorLight: #ECF9F3;

$accentColor: #FAFAFA;
$accentColorDark: #FAFAFA;
$accentColorLight: #FAFAFA;

$grayColor:  #FAFAFA;

//-------------------------------COLORS---------------------------------


//-------------------------------FONTS-----------------------------------------------------
@font-face{
  font-family: "Poppins"; //how you set font in the actual css selector
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);

}
@font-face{
  font-family: "bold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
  font-weight: 900;
}

@font-face{
  font-family: "Thin";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Thin.ttf);
}
@font-face{
  font-family: "Paytone";
  font-style: normal;
  src:url(../fonts/Paytone_One/PaytoneOne-Regular.ttf);
}

//-------------------------------FONTS----------------------------------------------

//-------------------------------MULTI PURPOSE CSS---------------------------------
*{
    margin: 0;   
    padding: 0;
    font-family: "Poppins";
    
}
body{
  background-color: $primaryColor;
}
.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative; //needs to be here so our span will work with absolute positioning
}

  .greenButton{
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    padding: 6px 15px;
    background-color: $secondaryColor;
    border: 3px solid $secondaryColor;
    border-radius: 25px;
    color: $primaryColor;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

.whiteButton{
    @extend .greenButton;
    background-color: transparent;
    color: $primaryColor;
    border: 3px solid $primaryColor;
    margin-left: 16px;
}

.titleOfDiv{
  
  padding-bottom: 50px;
  background-color: $primaryColor;
  text-align: center;
  :first-child{
      color: $secondaryColor;  
  }
  b{
      font-family: "bold";
      font-size: 35px;   
  }
}
.titleOfDiv::after{
  display: block;
  content: "";
  border-bottom: 5px solid $secondaryColor;
  transform: scaleX(0.3);
  padding-bottom: 3px;
  margin-bottom: 20px;
}
@media(min-width:1000px){

  .greenButton{
    font-size: 18px;
  }
  .titleOfDiv{

    b{
      font-size: 45px
    }
  }
}

@media(min-width:1700px){
  p{
    font-size: 18px;
  }
}

//-------------------------------IMPORTS---------------------------------

@import "_landing.scss" ;
@import "_navigationMenuScrollDown.scss";
@import "_socialMediaBar.scss";
@import "_socialMediaCircles.scss";
@import "_services.scss";
@import "_aboutUs.scss";
@import "_testimonials.scss"
//-------------------------------IMPORTS---------------------------------